<footer class="site-footer">

 <div class="container-fluid">
		<div class="col-sm-12">
			<ul id="Contacts">
				<a href="mailto:brani.igic@gmail.com"><img id= "Emailme" src="/images/mail.svg" alt="Email"/></a>
				<a href="https://scholar.google.com.au/citations?user=ZNdC7ZUAAAAJ&hl=en" target="_blank"><img id= "GoogleSchlr" src="/images/GS.svg" alt="GoogleScholar"/></a>
				<a href="https://www.researchgate.net/profile/Branislav_Igic" target="_blank"><img id= "ResearchGT" src="/images/rg.svg" alt="ResearchGate"/></a>
				<a href="https://twitter.com/brani_igic" target="_blank"><img id= "TwitterME" src="/images/twitter.svg" alt="Twitter"/></a>
				<a href="http://www.tinybrownbird.com/about/index.html"><img id="infoME" src="/images/info.svg" alt="info"/></a>
			</ul>
		</div>
	</div>		

</footer>
