<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="page-content-wrapper">
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    </div>
	
  <div class="pageadditions container-fluid">
  <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Generic_Feed-icon.svg"/>Subscribe via RSS</a></p>
  
  <p class="lastupdate" id="mainpagedate"> Website last updated: 22 September 2016 </p>
  </div>
	
    {% include footer.html %}

  </body>

</html>
