---
layout: default-post
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
  <div class="backtab"><a href="/">Home</a></div>
</header>

  <div class="post-content container-fluid" itemprop="articleBody">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</div>
	<div class="post-meta coverimagecredit"> Cover image credit: {{ page.title-photo-credit }}</div>
    {{ content }}
  </div>

</article>
